.reset {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reset-container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
}
.reset-container p {
  margin: 20px;
  font-weight: 200;
}
.reset-container input {
  background-color: white;
  margin-bottom: 20px;
}
.reset-container button {
  background: #f0c14b;
  border-radius: 2px;
  width: 80%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #111;
}
